<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome | Smart Fitness Planner</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>

	<body>
		<!-- Welcome Section -->
		<div class="welcome-container">
			<div class="welcome-card">
				<h1>Welcome to <br>Smart Fitness Planner</h1>
				<p>Let’s build the strongest version of you</p>

				<!-- Sign Up and Sign In Buttons -->
				<div class="buttons">
					<a href="#" class="btn primary">Sign Up</a>
					<a href="/templates/signin.html" class="btn secondary">Sign In</a>
				</div>
			</div>
		</div>
	</body>
</html>
